{% extends 'base.html' %}

{% block title %} Question #{{ num_question_in_template + 1}}{% endblock %}

{% block content %}
<div>
    <h3>Question #{{ num_question_in_template + 1}}: {{ question_in_template.question }}</h3>
   <form action="/answer" method="POST">
        {% for idx in range(num_choices_in_template) %}
            <input type="radio" name="question-radio" value="question-radio-{{ idx }}">
            <label for="question-radio"> {{ choices_in_template[idx] }} </label>
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}