{% extends 'base.html' %}

{% block title %} Question #{{ num_question_in_template + 1}}{% endblock %}

{% block content %}
<div>
    <p>{{ get_flashed_messages()[0] }}</p>
    <!-- why are there so many flash messages?? -->
    <h3>Question #{{ num_question_in_template + 1}}: {{ question_in_template.question }}</h3>
   <form action="/answer" method="POST">
        {% for choice in choices_in_template %}
            <input type="radio" name="question-radio" value="question-radio-{{ num_question_in_template }}">
            <label for="question-radio"> {{ choice }} </label>
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}